body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid rgb(192, 113, 113);
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;

}
.yellow{
    background-color: rgb(235, 235, 10);
}
.green{
    background-color: rgb(27, 231, 238);
}
.blue{
    background-color: rgb(42, 42, 198);
}
.red{
    background-color: rgb(236, 128, 21);
}
.flash{
    background-color: antiquewhite;
}
